# coding: utf-8

"""
    PhotoPrism API

    API request bodies and responses are usually JSON-encoded, except for binary data and some of the OAuth2 endpoints. Note that the `Content-Type` header must be set to `application/json` for this, as the request may otherwise fail with error 400. When clients have a valid access token, e.g. obtained through the `POST /api/v1/session` or `POST /api/v1/oauth/token` endpoint, they can use a standard Bearer Authorization header to authenticate their requests. Submitting the access token with a custom `X-Auth-Token` header is supported as well.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class LinksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_entity_uid_links_post(self, **kwargs):  # noqa: E501
        """api_v1_entity_uid_links_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_entity_uid_links_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_entity_uid_links_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_entity_uid_links_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v1_entity_uid_links_post_with_http_info(self, **kwargs):  # noqa: E501
        """api_v1_entity_uid_links_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_entity_uid_links_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_entity_uid_links_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/{entity}/{uid}/links', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_album_link(self, uid, link, **kwargs):  # noqa: E501
        """adds a new album share link and return it as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_album_link(uid, link, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :param FormLink link: link properties (currently supported: slug, expires) (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_album_link_with_http_info(uid, link, **kwargs)  # noqa: E501
        else:
            (data) = self.create_album_link_with_http_info(uid, link, **kwargs)  # noqa: E501
            return data

    def create_album_link_with_http_info(self, uid, link, **kwargs):  # noqa: E501
        """adds a new album share link and return it as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_album_link_with_http_info(uid, link, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :param FormLink link: link properties (currently supported: slug, expires) (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid', 'link']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_album_link" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `create_album_link`")  # noqa: E501
        # verify the required parameter 'link' is set
        if self.api_client.client_side_validation and ('link' not in params or
                                                       params['link'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `link` when calling `create_album_link`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'link' in params:
            body_params = params['link']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/albums/{uid}/links', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EntityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_album_link(self, uid, linkuid, **kwargs):  # noqa: E501
        """deletes an album share link  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_album_link(uid, linkuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album (required)
        :param str linkuid: link uid (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_album_link_with_http_info(uid, linkuid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_album_link_with_http_info(uid, linkuid, **kwargs)  # noqa: E501
            return data

    def delete_album_link_with_http_info(self, uid, linkuid, **kwargs):  # noqa: E501
        """deletes an album share link  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_album_link_with_http_info(uid, linkuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album (required)
        :param str linkuid: link uid (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid', 'linkuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_album_link" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `delete_album_link`")  # noqa: E501
        # verify the required parameter 'linkuid' is set
        if self.api_client.client_side_validation and ('linkuid' not in params or
                                                       params['linkuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `linkuid` when calling `delete_album_link`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501
        if 'linkuid' in params:
            path_params['linkuid'] = params['linkuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/albums/{uid}/links/{linkuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EntityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_album_links(self, uid, **kwargs):  # noqa: E501
        """returns all share links for the given UID as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_album_links(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_album_links_with_http_info(uid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_album_links_with_http_info(uid, **kwargs)  # noqa: E501
            return data

    def get_album_links_with_http_info(self, uid, **kwargs):  # noqa: E501
        """returns all share links for the given UID as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_album_links_with_http_info(uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_album_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `get_album_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/albums/{uid}/links', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EntityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_album_link(self, uid, linkuid, link, **kwargs):  # noqa: E501
        """updates an album share link and return it as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_album_link(uid, linkuid, link, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :param str linkuid: link uid (required)
        :param FormLink link: properties to be updated (currently supported: slug, expires, token) (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_album_link_with_http_info(uid, linkuid, link, **kwargs)  # noqa: E501
        else:
            (data) = self.update_album_link_with_http_info(uid, linkuid, link, **kwargs)  # noqa: E501
            return data

    def update_album_link_with_http_info(self, uid, linkuid, link, **kwargs):  # noqa: E501
        """updates an album share link and return it as JSON  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_album_link_with_http_info(uid, linkuid, link, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uid: album uid (required)
        :param str linkuid: link uid (required)
        :param FormLink link: properties to be updated (currently supported: slug, expires, token) (required)
        :return: EntityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uid', 'linkuid', 'link']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_album_link" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uid' is set
        if self.api_client.client_side_validation and ('uid' not in params or
                                                       params['uid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uid` when calling `update_album_link`")  # noqa: E501
        # verify the required parameter 'linkuid' is set
        if self.api_client.client_side_validation and ('linkuid' not in params or
                                                       params['linkuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `linkuid` when calling `update_album_link`")  # noqa: E501
        # verify the required parameter 'link' is set
        if self.api_client.client_side_validation and ('link' not in params or
                                                       params['link'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `link` when calling `update_album_link`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uid' in params:
            path_params['uid'] = params['uid']  # noqa: E501
        if 'linkuid' in params:
            path_params['linkuid'] = params['linkuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'link' in params:
            body_params = params['link']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/albums/{uid}/links/{linkuid}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EntityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
